:host {
  width: 100%;
  height: 100%;
}

.div_container {
  width: 100%;
  height: 100%;

  .div_card {
    width: 100%;
    height: 100%;
    padding: 10px;

    .card_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;

      .header_right {
        display: flex;
        gap: 10px;
      }
    }

    .card_info {
      background-color: rgba(241, 245, 249);
      border-radius: 12px;
      padding: 20px;
      margin-bottom: 15px;

      display: flex;
      flex-direction: column;
      gap: 20px;

      .info_row {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
      }
    }
  }
}
