<div class="div_container" clickOutside (clickOutside)="open = false">
  <div class="div_select" [class.active]="open" (click)="toggle()" [attr.data-estado]="selectedLabel? 'true' : 'false'">
    <div class="selected">
      <label class="label_0">{{ getLabel }}</label>
      <label 
        [ngStyle]="{'color': (selectedLabel? '':'#777')}" 
      >
          {{ selectedLabel || getLabel }}
      </label>
    </div>
    @if(open){
      <ul class="options">
        @for(opt of getOptions; track $index) {
          <li (click)="emitValue(opt, $event)">{{ opt.label }}</li>
        }
      </ul>
    }
  </div>
</div>