<div class="div_container" clickOutside (clickOutside)="open = false">
  <div
    class="div_select"
    [class.active]="open"
    [class.disabled]="isDisabled"
    [attr.data-estado]="hasSelected ? 'true' : 'false'"
    [style.width]="controlWidth"
    (click)="toggle()"
  >
    <div class="selected">
      <label class="floating_label">{{ getLabel }}</label>

      <span class="selected_text" [class.placeholder]="!hasSelected">
        {{ selectedLabel || "" }}
      </span>

      <span class="select_arrow">⌄</span>
    </div>

    @if (open) {
      <ul class="options">
        @for (opt of getOptions; track $index) {
          <li (click)="emitValue(opt, $event)">
            {{ opt.label }}
          </li>
        }

        @if (getOptions.length === 0) {
          <li class="empty-option">Sin opciones</li>
        }
      </ul>
    }
  </div>
</div>
