<div class="div_container">
    <ui-card [showHeader]="true" class="div_card">
        <div class="card_top" card-header>
            <form [formGroup]="formData" (ngSubmit)="filtrar()" class="card_form">
                <div class="card_filters">
                    <div class="selects">
                        <ui-input-box [label]="'Marca'" [options]="opcionesNombres" [width]="'200'" [returnValue]="'label'" formControlName="nombreMarc"/>
                        <ui-input-box [label]="'Pais Origen'" [options]="opcionesPais" [width]="'200'" [returnValue]="'label'" formControlName="paisOrigenMarc"/>
                        <ui-combo-box [label]="'Calidad'" [options]="opcionesCalidad"  formControlName="calidadMarc"/>
                    </div>
                    <div class="filter_btn">
                        <ui-button [label]="'Filtrar'" [icon]="'filter_alt'"/>
                    </div>
                </div>
            </form>
            <div class="btns_options">
                <ui-button [icon]="'refresh'" [action]="'refresh'" (evntClick)="refreshData($event)"/>
            </div>
        </div>
        <div class="card_table">
            <ui-table-list #tableList 
                [serviceApi]="'marcas'" 
                [serviceApiFilter]="'marcas/filtrar/marcas'"
                [serviceApiReal]="'marcas'"
                [columns]="config.columns" 
                [isSelection]="true"/>
        </div>
    </ui-card>
</div>



