:host {
  display: block;
  width: 250px;
  height: 100vh;
  background: #fafafa;
  border-right: 1px solid #e0e0e0;
}

mat-icon {
  margin-right: 8px;
}

.menu-panel {
  background: transparent;
  box-shadow: none;
}

mat-expansion-panel-header {
  padding-left: 8px;
}

a[mat-list-item] {
  padding-left: 40px;
}
