.div_container {
  width: 100%;
  height: 100%;

  .mat_sidenav_container {
    width: 100%;
    height: 100%;
    
    .mat_sidenav {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 0; 

      .mat_nav_list {
        width: 100%;
        height: 100%;
        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #FFFFFF;
      }
    }
  }
}