:host {
    width: 100%;
    height: 100%;
}

.div_container {
    width: 100%;
    height: 100%;

    .div_card {
        width: 100%;
        height: 100%;
        display: flex;
        background-color: #FFFFFF;
        border-radius: 10px;

        .panel_1 {
            width: 100%;
            height: 100%;
            padding: 10px;

            .card_form {
                background-color: rgba(241, 245, 249);
                border-radius: 20px;
                width: 100%;
                height: 100%;
                padding: 30px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .fila {
                    width: 100%;
                    height: 60px;
                    /*background-color: red;*/
                    border-color: black;
                    border-style: solid;
                    display: flex;
                }

                .form {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    gap: 30px;                    
                }
                .div_2 {
                    display: flex;
                    height: 130px;
                    /*gap: 50px;*/

                    .div_2_1{
                        width: 70%;
                        height: 100%;

                    }

                    .div_2_2{
                        width: 20%;
                        height: 100%;
                    }

                    .cajita {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }
                }
                
                .div_3 {
                    flex: 1;
                }

            }
        }
        
    }
}