<div class="div_container">
    <div class="div_card">
        <div class="panel_1">
            <div class="card_form">
                <div class="fila div_1">
                    <form [formGroup]="formData" class="form">
                        @if (!isAdd) {
                            <div>
                                <ui-text-field [label]="'ID'" formControlName="ideEmp"/>
                            </div>
                        }
                        <div>
                            <ui-input-box [label]="'Empresa'" [options]="[{label: '1', value: '2'}]" [width]="'200'" formControlName="fechaContratoEmp"/>
                        </div>
                        <div>
                            <ui-datetime-picker [label]="'Fecha Pedido'"  [isTime]="true"  formControlName="fechaContratoEmp"/>
                        </div>
                        <div>
                            <ui-datetime-picker [label]="'Fecha Entrega'"  [isTime]="true"  formControlName="fechaContratoEmp"/>
                        </div>
                        <div>
                            <ui-combo-box [label]="'Motivo'" [options]="[]" [width]="'200'" formControlName="ideEmp"/>
                        </div>
                        <div>
                            <ui-text-field [label]="'Estado'" [width]="'200'" formControlName="ideEmp"/>
                        </div>
                    </form>
                </div>
                <div class="fila div_2">
                    <div class="div_2_1">
                        <form [formGroup]="formData" class="form">
                            <div>
                                <ui-input-box [label]="'Producto'" [options]="[{label: '1', value: '2'}]" [width]="'200'" formControlName="fechaContratoEmp"/>
                            </div>
                            <div>
                                <ui-text-field [label]="'Cantidad'" [width]="'100'" formControlName="ideEmp"/>
                            </div>
                            <div class="cajita">
                                <div>
                                    <ui-text-field [label]="'Precio Unitario'" [width]="'100'" formControlName="ideEmp"/>
                                </div>
                                <div>
                                    <ui-text-field [label]="'Bruto'" [width]="'100'" formControlName="ideEmp"/>
                                </div>
                            </div>
                            <div class="cajita">
                                <div>
                                    <ui-text-field [label]="'Dcto Compra'" [width]="'100'" formControlName="ideEmp"/>
                                </div>
                                <div>
                                    <ui-text-field [label]="'Neto'" [width]="'100'" formControlName="ideEmp"/>
                                </div>
                            </div>
                            <div class="cajita">
                                <div>
                                    <ui-text-field [label]="'Dcto Caduc'" [width]="'100'" formControlName="ideEmp"/>
                                </div>
                                <div>
                                    <ui-text-field [label]="'Neto'" [width]="'100'" formControlName="ideEmp"/>
                                </div>
                            </div>
                            <div>
                                <ui-text-field [label]="'IVA'" [width]="'100'" formControlName="ideEmp"/>
                            </div>
                            <div>
                                <ui-text-field [label]="'Total'" [width]="'100'" formControlName="ideEmp"/>
                            </div>
                        </form>
                    </div>
                    <div class="div_2_2">
fbf
                    </div>
                    
                </div>
                <div class="fila div_3">
                    <ui-table-list [serviceApi]="'cuentas'" [columns]="[]"></ui-table-list>
                </div>
            </div>
        </div>
    </div>
</div>