.form_header,
.form_detalle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.resumen {
  display: flex;
  gap: 20px;
  font-weight: bold;
}

.acciones,
.footer {
  display: flex;
  gap: 10px;
  justify-content: center;
}
