:host {
    width: 100%;
    height: 100%;
}

.div_container {
    width: 100%;
    height: 100%;

    .div_card {
        width: 100%;
        height: 100%;
        display: flex;
        background-color: #FFFFFF;
        border-radius: 10px;

        .panel_1 {
            width: 100%;
            height: 100%;
            padding: 10px;

            .card_form {
                background-color: rgba(241, 245, 249);
                border-radius: 20px;
                width: 100%;
                padding: 30px;
                /*display: flex;
                justify-content: center;
                align-items: center;*/
                display: flex;
                flex-direction: column;
                
                .fila {
                    width: 100%;
                    height: 50px;
                    border-color: black;
                }





                .form {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    .div_form {
                        display: flex;
                        flex-direction: column;
                        gap: 40px;

                        .div_id {
                            display: flex;
                            width: 100%;
                            gap: 20px;
                            justify-content: center;

                            .input_falso {
                                width: 280px;
                            }
                        }

                        .form_info {
                            display: flex;
                            gap: 20px;
                            justify-content: center;

                            .form_div {
                                display: flex;
                                flex-direction: column;
                                gap: 25px;
                            }
                        }
                    }
                    
                      

                    

                    .form_buttons {
                        display: flex;
                        gap: 10px;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
        
    }
}