.div_container {
    width: 100%;
    height: 100%;

    .div_datetime {
      position: relative;
      width: 250px;
      font-family: sans-serif;

      input[type="datetime-local"], input[type="date"] {
        width: 100%;
        padding: 14px 12px;
        font-size: 16px;
        border: 2px solid #ccc;
        border-radius: 10px;
        outline: none;
        background: white;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        font-family: sans-serif;

        &:hover {
          border-color: #F527E7;
        }
        
        &:focus {
          border-color: #F527E7;
          box-shadow: 0 0 6px rgba(123, 75, 255, 0.4);
        }

        /* Cuando hay valor o cuando haces focus */
        &:focus + label,
        &:valid + label {
          top: -8px;
          font-size: 12px;
          color: #F527E7;
          background: none;
        }
      }

      label {
        position: absolute;
        width: 80%;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: #777;
        font-size: 16px;
        background: white;
        padding: 0 4px;
        pointer-events: none;
        transition: 0.25s ease;
      }
    }
}