<div class="div_container">
  <div class="div_datetime" [class.has-value]="hasValue" [style.width]="controlWidth">
    @if (isTime()) {
      <input
        type="datetime-local"
        required
        [disabled]="_isDisabled()"
        [attr.min]="min()"
        [value]="innerValue()"
        [class.has-value]="hasValue"
        [attr.aria-label]="getLabel"
        (input)="updateValue($event)"
        (change)="emitValue($event)"
        (blur)="onTouched()"
      />
    } @else {
      <input
        type="date"
        required
        [disabled]="_isDisabled()"
        [attr.min]="min()"
        [value]="innerValue()"
        [class.has-value]="hasValue"
        [attr.aria-label]="getLabel"
        (input)="updateValue($event)"
        (change)="emitValue($event)"
        (blur)="onTouched()"
      />
    }

    <label aria-hidden="true">{{ getLabel }}</label>
  </div>
</div>
