.div_container {
    width: 100%;
    height: 100%;

    .header {
        width: 100%;
        height: 100%;
        display: flex;

        .sidebar_options {
            width: 255px;
            display: flex;
            align-items: center;
            gap: 30px;

            .logo {
                width: 120px;
                height: 120px;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    transition: filter 0.2s ease;

                    &:hover {
                        filter: brightness(1.2);
                    }
                }
            }
        }

        .navbar_options {
            flex: 1;
        } 
    }
}