<div class="div_container">
  <button
    mat-flat-button
    type="button"
    class="ui-button"
    [class.ui-button--icon-only]="!getLabel && getIcon"
    [style.background]="buttonBackground"
    [style.width]="buttonWidth"
    [style.color]="buttonTextColor"
    [disabled]="disabled()"
    [attr.title]="tooltip() || (!getLabel && getIcon ? accessibleLabel : null)"
    [attr.aria-label]="accessibleLabel"
    (click)="emitClick($event)"
  >
    @if (getIcon) {
      <mat-icon>{{ getIcon }}</mat-icon>
    }

    @if (getLabel) {
      <span>{{ getLabel }}</span>
    }
  </button>
</div>
