.div_container {
  width: 100%;
  height: 100%;
}

.div_card {
  display: flex;
  height: 100%;
  background: #fff;
  border-radius: 10px;
}

.panel_1 {
  width: 60%;
  padding: 30px;
}

.card_form {
  background: rgba(241,245,249);
  border-radius: 20px;
  padding: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.div_id {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.input_falso {
  width: 280px;
}

.form_info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form_buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.panel_2 {
  flex: 1;
}

.panel_2_img {
  width: 100%;
  height: 100%;
  background-image: url('/imgs/img_roles.jpg');
  background-size: cover;
}
