:host {
    width: 100%;
    height: 100%;
}

.div_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .div_breadcumbs {
        width: 100%;
        height: 50px;
    } 

    .div_main {
        width: 100%;
        flex: 1;
    }
}