:host {
    width: 100%;
    height: 100%;
}

.div_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .div_breadcumbs {
        width: 100%;
        height: 50px;
    }

    .div_title {
        width: 100%;
        height: 70px;
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 10px;
    }

    .div_main {
        width: 100%;
        flex: 1;
    }
}