<div class="div_container">
    <div class="div_card">
        <form [formGroup]="formData" (ngSubmit)="filtrar()">
            <div class="card_filters">
                <div class="selects">
                    <ui-text-field [label]="'Empresa'" formControlName="nombreEmp"/>
                    <ui-text-field [label]="'Responsable'" formControlName="responsableEmp"/>
                    <ui-combo-box [label]="'Estados'" [options]="estadosEmpresa"  formControlName="estadoEmp"/>
                    <ui-input-box [label]="'Vamos'" [options]="estadosEmpresa"></ui-input-box>
                </div>
                <div class="filter_btn">
                    <ui-button [label]="'Filtrar'" [icon]="'filter_alt'"/>
                </div>
            </div>
        </form>
        
        <div class="card_table">
            <ui-table-list #tableList [serviceApi]="'empresas'" [columns]="config.columns" [isSelection]="true"/>
        </div>
    </div>
</div>



