<div class="sm-crud-list">
  <ui-card [showHeader]="true" class="sm-crud-card">
    <div class="sm-crud-toolbar" card-header>
      <form class="sm-crud-form" [formGroup]="formData" (ngSubmit)="filtrar()">
        <div class="sm-crud-filter-row">
          <div class="sm-crud-filters">
            <ui-text-field
              class="sm-field-lg"
              [label]="'Empresa'"
              formControlName="nombreEmp"
            />

            <ui-text-field
              class="sm-field-lg"
              [label]="'Responsable'"
              formControlName="responsableEmp"
            />

            <ui-combo-box
              class="sm-field-sm"
              [label]="'Estado'"
              [options]="estadosEmpresa"
              formControlName="estadoEmp"
            />
          </div>

          <div class="sm-crud-filter-button">
            <ui-button
              [label]="'Filtrar'"
              [icon]="'filter_alt'"
              [action]="'filter'"
              (evntClick)="filtrar()"
            />
          </div>
        </div>
      </form>

      <div class="sm-crud-actions">
        <ui-button
          [label]="'Precios'"
          [icon]="'attach_money'"
          [color]="'warning'"
          [textColor]="'black'"
          [action]="'redirect'"
          (evntClick)="redirectToEmpresaPrecios($event)"
        />

        <ui-button
          [icon]="'refresh'"
          [action]="'refresh'"
          (evntClick)="refreshData($event)"
        />
      </div>
    </div>

    <div class="sm-crud-table">
      <ui-table-list
        #tableList
        [serviceApi]="'empresas'"
        [serviceApiFilter]="'empresas/filtrar'"
        [serviceApiReal]="'empresas'"
        [columns]="config.columns"
        [isSelection]="true"
        (rowClickAction)="setIdEmpresa($event)"
      />
    </div>
  </ui-card>
</div>
