:host {
    width: 100%;
    height: 100%;
}

.div_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    .div_card {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 10px;
        gap: 10px;

        .card_title {
            width: 100%;
            height: 40px;
        }

        .card_filters {
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding: 10px;
            width: 100%;
            height: 75px;

            .selects {
                display: flex;
                flex-direction: row;
                gap: 10px;
                width: auto;
            }

            .filter_btn {
                flex: 1;
            }
        }

        .card_table {
            width: 100%;
            height: auto;
            padding: 10px;
        }
    }
}