<div class="div_container">
    <div class="div_card">
        <div class="card_filters">
            <div class="selects">
                <ui-text-field [label]="'ID'" (evntChange)="setId($event)"/>
                <ui-text-field [label]="'Empresa'" (evntChange)="setEmpresa($event)"/>
                <ui-text-field [label]="'Responsable'" (evntChange)="setResponsable($event)"/>
                <ui-combo-box [options]="estados" (evntSelectOption)="setEstado($event)" title="Estados"/>
                <ui-datetime-picker (evntDateChange)="setFechaContrato($event)"/>
            </div>
            <div class="filter_btn">
                <ui-button [label]="'Filtrar'" icon="filter_alt" (evntClick)="search()"></ui-button>
            </div>
        </div>
        <div class="card_table">
            <ui-table-list #tableList [service]="'empresas'" [columns]="config.columns" (onSelectRow)="imprimir($event)" (rowClickAction)="imprimir($event)" [isSelection]="true"/>
        </div>
    </div>
</div>



