<div class="container">
  <div class="login-container">

    <form class="form-login">
      <h2>Cambiar contraseña</h2>
      <p class="subtitle">
        Por seguridad, debes actualizar tu contraseña
      </p>

      <div class="inp-btns">
        <div class="inputs">

          <div class="input input-password">
            <div class="user-passwd">
              <label><i class='bx bx-lock'></i></label>
              <input
                type="password"
                placeholder=" Nueva contraseña"
              />
            </div>
          </div>

          <div class="input input-password">
            <div class="user-passwd">
              <label><i class='bx bx-lock-alt'></i></label>
              <input
                type="password"
                placeholder=" Confirmar contraseña"
              />
            </div>
          </div>

        </div>

        <div class="button button-login">
          <button type="submit">
            <i class='bx bx-check'></i>
            Actualizar
          </button>
        </div>
      </div>
    </form>

    <div class="logo"></div>

  </div>
</div>
