:host {
  width: 100%;
  height: 100%;
}

.div_container {
  width: 100%;
  height: 100%;

  .div_input {
    /*hare que los hijos aboslute me referencien para posicionarse*/
    position: relative;
    width: 100%;
    font-family: sans-serif;

    label {
        /*te posicionaras en referecnia al contenedor que es relative*/
        position: absolute;
        /*de la izq distanciate 12px*/
        left: 12px;
        /*de arriba desplazate la mitad del size del contenedor*/
        top: 50%;
        /*sube hacia arriba un espacio de la mitad de tu size, no del contenedor*/
        transform: translateY(-50%);
        color: #777;
        font-size: 16px;
        background: white;
        padding: 0 4px;
        /*no rebiras clicks, eres transparente en eso, lo recibira el elemento de abajo que se ve visualmente*/
        pointer-events: none;
        /*tu transicion durara 0.25seg y sera lenta-rapida-lenta
        esto define como se observara cualquier cambio en any propiedad de este elemento :)*/
        transition: 0.25s ease;
    }

    textarea {
      width: 100%;
      /*padding de arriba/abajo 14px y de lados 12px*/
      padding: 14px 12px;
      font-size: 16px;
      border: 2px solid #ccc;
      border-radius: 10px;
      /*quitas las lineas azul/negra x defecto del navegador*/
      outline: none;
      background: white;
      /*para cuando ocurra algun cambio en estas propiedades, el border-color durara o.3seg y movmiento ease, asi mismo por lo del box-shadow*/
      transition: border-color 0.3s ease, box-shadow 0.3s ease;

      /*cuando tengas el foco, haz esto*/
      &:focus {
        border-color: #7b4bff;
        box-shadow: 0 0 6px rgba(123, 75, 255, 0.4);
      }

      /*Sel1=cuanto tengas el foco, selecciona al label hermano directo siguiente*/
      &:focus + label,
      /*Sel2=selecciona al label hermano directo siguiente del input sin placeholder mostrado*/
      &:not(:placeholder-shown) + label {
        top: -8px;
        font-size: 12px;
        color:#7b4bff;
      }
    }
  }
}