<div class="div_container">
    <!--app-login>
        <mat-label>{{getLabel}}</mat-label>
        <textarea matInput [placeholder]="getPlaceholder" 
            (change)="emitValue($event)"
            [disabled]="disabled"
            [value]="value"
            (input)="updateValue($event)"
            (blur)="onTouched()"
        >
        </textarea>
    </mat-form-field>-->
    <div class="div_input">
        <textarea type="text" [placeholder]="getPlaceholder" required
            (change)="emitValue($event)"
            [disabled]="disabled"
            [value]="value"
            (input)="updateValue($event)"
            (blur)="onTouched()"
            ></textarea>
        <label>{{getLabel}}</label>
    </div>
</div>
