<div class="div_container">
  <div class="div_input" [style.width]="controlWidth">
    <textarea
      required
      [rows]="rows()"
      [placeholder]="getPlaceholder"
      [disabled]="_isDisabled()"
      [readOnly]="readonly()"
      [class.is-readonly]="readonly()"
      [value]="innerValue()"
      [class.has-value]="hasValue"
      [attr.aria-label]="getLabel"
      (change)="emitValue($event)"
      (input)="updateValue($event)"
      (blur)="onTouched()"
    ></textarea>

    <label>{{ getLabel }}</label>
  </div>
</div>
