<div class="div_container">
  <div class="div_card">

    <div class="panel_1">
      <div class="card_form">
        <form [formGroup]="formData" class="form">

          <div class="div_form">

            @if (!isAdd) {
              <div class="div_id">
                <ui-text-field
                  [label]="'ID'"
                  formControlName="ideClie"
                />
                <div class="input_falso"></div>
              </div>
            }

            <div class="form_info">
              <div class="form_div">
                <ui-text-field
                  [label]="'Cédula'"
                  formControlName="cedulaClie"
                />

                <ui-text-field
                  [label]="'Primer Nombre'"
                  formControlName="primerNombreClie"
                />

                <ui-text-field
                  [label]="'Segundo Nombre'"
                  formControlName="segundoNombreClie"
                />

                <ui-text-field
                  [label]="'Apellido Paterno'"
                  formControlName="apellidoPaternoClie"
                />

                <ui-text-field
                  [label]="'Apellido Materno'"
                  formControlName="apellidoMaternoClie"
                />
              </div>

              <div class="form_div">
                <ui-datetime-picker
                  [label]="'Fecha Nacimiento'"
                  formControlName="fechaNacimientoClie"
                />

                <ui-text-field
                  [label]="'Edad'"
                  [valueType]="'number'"
                  formControlName="edadClie"
                />

                <ui-text-field
                  [label]="'Teléfono'"
                  formControlName="telefonoClie"
                />

                <ui-text-field
                  [label]="'Email'"
                  formControlName="emailClie"
                />

                <ui-combo-box
                  [label]="'Es Socio'"
                  [options]="opcionesSiNo"
                  formControlName="esSocio"
                />

                <ui-combo-box
                  [label]="'Tercera Edad'"
                  [options]="opcionesSiNo"
                  formControlName="esTerceraEdad"
                />
              </div>
            </div>
          </div>

          <div class="form_buttons">
            <ui-button
              [label]="isAdd ? 'Guardar' : 'Actualizar'"
              (evntClick)="guardar()"
            />
            <ui-button
              [label]="'Cancelar'"
              [color]="'red'"
              (evntClick)="cancelar()"
            />
          </div>

        </form>
      </div>
    </div>

    <div class="panel_2">
      <div class="panel_2_img"></div>
    </div>

  </div>
</div>
