<div class="div_container">
  <div class="div_input" [class.has-value]="hasValue" [style.width]="controlWidth">
    <input
      [type]="inputType"
      required
      [placeholder]="getPlaceholder"
      [disabled]="_isDisabled()"
      [readOnly]="readonly()"
      [class.is-readonly]="readonly()"
      [value]="innerValue()"
      [class.has-value]="hasValue"
      [attr.aria-label]="getLabel"
      (change)="emitValue($event)"
      (input)="updateValue($event)"
      (blur)="onTouched()"
    />

    <label aria-hidden="true">{{ getLabel }}</label>
  </div>
</div>
