<div class="div_container">
    <ui-card [showHeader]="true" class="div_card">
        <div class="card_top" card-header>
            <form [formGroup]="formData" (ngSubmit)="filtrar()" class="card_form">
                <div class="card_filters">
                    <div class="selects">
                        <ui-input-box [label]="'Cédula'" [options]="opcionesCedulas" [returnValue]="'label'" formControlName="cedulaClie" [width]="'180'"/>
                        <ui-input-box [label]="'nombre'" [options]="opcionesNombre" [returnValue]="'label'" formControlName="primerNombreClie" [width]="'180'"/>
                        <ui-input-box [label]="'Apellido'" [options]="opcionesApellido" [returnValue]="'label'" formControlName="apellidoPaternoClie" [width]="'180'"/>
                        <ui-combo-box [label]="'Es Socio'" [options]="opcionesSocio" [returnValue]="'label'" formControlName="esSocio" [width]="'180'"/>
                        <ui-combo-box [label]="'Es Tercera Edad'" [options]="opcionesTerceraEdad" [returnValue]="'label'" formControlName="esTerceraEdad" [width]="'180'"/>
                    </div>
                    <div class="filter_btn">
                        <ui-button [label]="'Filtrar'" [icon]="'filter_alt'"/>
                    </div>
                </div>
            </form>
            <div class="btns_options">
                <ui-button [icon]="'refresh'" [action]="'refresh'" (evntClick)="refreshData($event)"/>
            </div>
        </div>
        <div class="card_table">
            <ui-table-list #tableList 
                [serviceApi]="'clientes'" 
                [columns]="config.columns" 
            />
        </div>
    </ui-card>
</div>
