:host {
    width: 100%;
    height: 100%;
}

.div_container {
    width: 100%;
    height: 100%;

    .div_card {
        width: 100%;
        height: 100%;
        /*display: flex;
        flex-direction: column;*/
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 10px;
        /*gap: 25px;*/
    }
}