<div class="div_container">
    <div class="div_card">
        <div class="panel_1">
            <form [formGroup]="formData" (ngSubmit)="guardar()" class="form">
                <div class="form_div form_div_1">
                    <ui-text-field label="Nombre" formControlName="nombre"/>
                    <ui-text-field label="Nombre" formControlName="nombre"/>
                </div>
                <div class="form_div form_div_2">
                    <ui-text-field label="Nombre" formControlName="nombre"/>
                    <ui-text-field label="Nombre" formControlName="nombre"/>
                </div>
                <div class="form_buttons">
                    <ui-button label="Guardar"/>
                    <ui-button label="Cancelar" color="red"/>
                </div>
            </form>
        </div>
        <div class="panel_2">
            <ui-text-field label="Nombre" />
        </div>
    </div>
</div>