:host {
    width: 100%;
    height: 100%;
}

.div_container {
    width: 100%;
    height: 100%;

    .div_card {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 30px;

        .panel_1 {
            width: 60%;
            height: 100%;
            .form {
                width: 100%;
                height: 100%;

                .form_div {
                    display: flex;
                }

                .form_buttons {
                    display: flex;
                    gap: 10px;
                    justify-content: center;
                }
            }
        }
        .panel_2 {
            flex: 1;
            height: 100%;
            background-color: black;
        }
        
    }
}