<div class="div_container">
    <div class="div_card">
        <div class="panel_1">
            <div class="card_form">
                <form [formGroup]="formData" (ngSubmit)="guardar()" class="form">
                    <div class="form_info">
                        <div class="form_div form_div_1">
                            <ui-text-field [label]="'ID'" formControlName="ideEmp"/>
                            <ui-text-field [label]="'Empresa'" formControlName="nombreEmp"/>
                            <ui-datetime-picker [label]="'Fecha Contrato'" formControlName="fechaContratoEmp"/>
                            <ui-text-field [label]="'Telefono'" formControlName="telefonoEmp"/>
                            <ui-text-area [label]="'Direccion'" formControlName="direccionEmp"/>
                        </div>
                        <div class="form_div form_div_2">
                            <ui-text-field [label]="'Responsable'" formControlName="responsableEmp"/>
                            <ui-combo-box [label]="'Estado'" [options]="estadosEmpresa" formControlName="estadoEmp"/>
                            <ui-text-field [label]="'Email'" formControlName="emailEmp"/>
                            <ui-text-area [label]="'Descripcion'" formControlName="descripcionEmp"/>
                        </div>
                    </div>
                    <div class="form_buttons">
                        <ui-button [label]="'Guardar'"/>
                        <ui-button [label]="'Cancelar'" [color]="'red'"/>
                    </div>
                </form>
            </div>
            
        </div>
        <div class="panel_2">
            <div class="panel_2_img"></div>
        </div>
    </div>
</div>