:host {
  width: 100%;
  height: 100%;
}

.div_container {
  width: 100%;
  height: 100%;
}

.div_card {
  display: flex;
  gap: 20px;
  height: 100%;
}

.panel_1 {
  flex: 3;
}

.panel_2 {
  flex: 1;

  .panel_2_img {
    width: 100%;
    height: 100%;
    background: #f1f5f9;
    border-radius: 12px;
  }
}

.card_form {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_info {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.form_div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  min-width: 280px;
}

.form_buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}
