<div class="div_container">
  <div class="div_card">

    <div class="panel_1">
      <div class="card_form">
        <form [formGroup]="formData" class="form">

          @if (!isAdd) {
            <ui-text-field label="ID" formControlName="ideEmpl" />
          }

          <div class="form_info">

            <div class="form_div">
              <ui-combo-box label="Rol" [options]="roles" formControlName="ideRol" />
              <ui-text-field label="Cédula" formControlName="cedulaEmpl" />
              <ui-text-field label="Primer Nombre" formControlName="primerNombreEmpl" />
              <ui-text-field label="Segundo Nombre" formControlName="segundoNombreEmpl" />
              <ui-datetime-picker
                label="Fecha Nacimiento"
                formControlName="fechaNacimientoEmpl"
                (valueChange)="calcularEdad()"
              />
            </div>

            <div class="form_div">
              <ui-text-field label="Apellido Paterno" formControlName="apellidoPaternoEmpl" />
              <ui-text-field label="Apellido Materno" formControlName="apellidoMaternoEmpl" />
              <ui-text-field label="Edad" valueType="number" formControlName="edadEmpl" />
              <ui-datetime-picker label="Fecha Inicio" formControlName="fechaInicioEmpl" />
              <ui-datetime-picker label="Fecha Término" formControlName="fechaTerminoEmpl" />
            </div>

            <div class="form_div">
              <ui-text-field label="Título" formControlName="tituloEmpl" />
              <ui-text-field label="RMU" valueType="number" formControlName="rmuEmpl" />
              <ui-combo-box
                label="Estado"
                [options]="[
                  { label: 'Activo', value: 'activo' },
                  { label: 'Inactivo', value: 'inactivo' }
                ]"
                formControlName="estadoEmpl"
              />
            </div>

          </div>

          <div class="form_buttons">
            <ui-button [label]="isAdd ? 'Guardar' : 'Actualizar'" (evntClick)="guardar()" />
            <ui-button label="Cancelar" color="red" (evntClick)="cancelar()" />
          </div>

        </form>
      </div>
    </div>

    <div class="panel_2">
      <div class="panel_2_img"></div>
    </div>

  </div>
</div>
