<div class="sm-crud-list">
  <ui-card [showHeader]="true" class="sm-crud-card">
    <div class="sm-crud-toolbar" card-header>
      <form class="sm-crud-form" [formGroup]="formData" (ngSubmit)="filtrar()">
        <div class="sm-crud-filter-row">
          <div class="sm-crud-filters">
            <ui-input-box
              class="sm-field-md"
              [label]="'Rol'"
              [options]="opcionesRoles"
              formControlName="ideRol"
            />

            <ui-input-box
              class="sm-field-md"
              [label]="'Cédula'"
              [options]="opcionesEmplCedulas"
              [returnValue]="'label'"
              formControlName="cedulaEmpl"
            />

            <ui-input-box
              class="sm-field-md"
              [label]="'Nombre'"
              [options]="opcionesEmplPrimerNombre"
              [returnValue]="'label'"
              formControlName="primerNombreEmpl"
            />

            <ui-input-box
              class="sm-field-lg"
              [label]="'Apellido'"
              [options]="opcionesEmplApellidoPaterno"
              [returnValue]="'label'"
              formControlName="apellidoPaternoEmpl"
            />

            <ui-input-box
              class="sm-field-lg"
              [label]="'Título'"
              [options]="opcionesEmplTitulos"
              [returnValue]="'label'"
              formControlName="tituloEmpl"
            />

            <ui-input-box
              class="sm-field-sm"
              [label]="'Estado'"
              [options]="opcionesEmplEstados"
              [returnValue]="'label'"
              formControlName="estadoEmpl"
            />
          </div>

          <div class="sm-crud-filter-button">
            <ui-button
              [label]="'Filtrar'"
              [icon]="'filter_alt'"
              [action]="'filter'"
              (evntClick)="filtrar()"
            />
          </div>
        </div>
      </form>

      <div class="sm-crud-actions">
        <ui-button
          [icon]="'refresh'"
          [action]="'refresh'"
          (evntClick)="refreshData($event)"
        />
      </div>
    </div>

    <div class="sm-crud-table">
      <ui-table-list
        #tableList
        [serviceApi]="'empleados'"
        [serviceApiFilter]="'empleados/filtrar'"
        [serviceApiReal]="'empleados'"
        [columns]="config.columns"
      />
    </div>
  </ui-card>
</div>
