<div class="div_container">
    <ui-card [showHeader]="true" class="div_card">
        <div class="card_top" card-header>
            <form [formGroup]="formData" (ngSubmit)="filtrar()" class="card_form">
                <div class="card_filters">
                    <div class="selects">
                        <ui-input-box [label]="'Empresa'" [options]="opcionesEmpresas" [width]="'200'" 
                        [returnValue]="'label'" formControlName="nombreEmpr"/>
                        <ui-combo-box [label]="'Estado'" [options]="opcionesEstadosPedi" [width]="'200'" [returnValue]="'label'" formControlName="estadoPedi"/>
                        <ui-combo-box [label]="'Motivo'" [options]="opcionesMotivosPedi" [width]="'150'" [returnValue]="'label'" formControlName="motivoPedi"/>
                        <ui-datetime-picker [label]="'Desde'" [width]="'200'" formControlName="fechaPediDesde"/>
                        <ui-datetime-picker [label]="'Hasta'" [width]="'200'" formControlName="fechaPediHasta"/>
                    </div>
                    <div class="filter_btn">
                        <ui-button [label]="'Filtrar'" [icon]="'filter_alt'"/>
                    </div>
                </div>
            </form>
            <div class="btns_options">
                <ui-button [icon]="'refresh'" [action]="'refresh'" (evntClick)="refreshData($event)"/>
            </div>
        </div>
        <div class="card_table">
            <ui-table-list #tableList [serviceApi]="'pedidos/listar/pedidos'" [serviceApiFilter]="'pedidos/filtrar/pedidos'" [serviceApiReal]="'pedidos'" [columns]="config.columns" />
        </div>
    </ui-card>
</div>



