<div class="div_container">
    <div class="div_card">

        <div class="panel_1">
            <div class="card_form">
                <form [formGroup]="formData" class="form">

                    <div class="div_form">

                        @if (!isAdd) {
                        <div class="div_id">
                            <ui-text-field [label]="'ID'" formControlName="ideEntr" />
                            <div class="input_falso"></div>
                        </div>
                        }

                        <div class="form_info">

                            <div class="form_div">
                                <ui-combo-box [label]="'Pedido'" [options]="pedidos" formControlName="idePedi" />

                                <ui-combo-box [label]="'Proveedor'" [options]="proveedores" formControlName="ideProv" />

                                <ui-datetime-picker [label]="'Fecha Entrega'" [isTime]="true"
                                    formControlName="fechaEntr" />

                                <ui-text-area [label]="'Observación'" formControlName="observacionEntr" />
                            </div>

                            <div class="form_div">
                                <ui-text-field [label]="'Cantidad Total'" formControlName="cantidadTotalEntr" />

                                <ui-text-field [label]="'Total ($)'" formControlName="totalEntr" />

                                <ui-combo-box [label]="'Estado'" [options]="estadosEntrega"
                                    formControlName="estadoEntr" />
                            </div>

                        </div>
                    </div>

                    <div class="form_buttons">
                        <ui-button [label]="isAdd ? 'Guardar' : 'Actualizar'" (evntClick)="guardar()" />
                        <ui-button [label]="'Cancelar'" (evntClick)="cancelar()" [color]="'red'" />
                    </div>

                </form>
            </div>
        </div>

        <div class="panel_2">
            <div class="panel_2_img"></div>
        </div>

    </div>
</div>