<div class="div_container">
    <ui-card [showHeader]="true" class="div_card">
        <div class="card_top" card-header>
            <form [formGroup]="formData" (ngSubmit)="filtrar()" class="card_form">
                <div class="card_filters">
                    <div class="selects">
                        <ui-input-box [label]="'Categoria'" [options]="opcionesCategorias" formControlName="ideCate"/>
                        <ui-input-box [label]="'Marca'" [options]="opcionesMarcas" formControlName="ideMarc"/>
                        <ui-input-box [label]="'Nombre'" [options]="opcionesProdNombres" formControlName="nombreProd"/>
                        <ui-input-box [label]="'Codigo Barras'" [options]="opcionesProdCodBarras" [width]="'180'" formControlName="codigoBarraProd"/>
                        <ui-combo-box [label]="'Estado'" [options]="opcionesProdEstados" [width]="'100'" formControlName="estadoProd"/>
                        <ui-combo-box [label]="'Disponible'" [options]="opcionesProdDisponibilidad" [width]="'100'" formControlName="disponibleProd"/>
                    </div>
                    <div class="filter_btn">
                        <ui-button [label]="'Filtrar'" [icon]="'filter_alt'"/>
                    </div>
                </div>
            </form>
            <div class="btns_options">
                <ui-button [icon]="'refresh'" [action]="'refresh'" (evntClick)="refreshData($event)"/>
            </div>
        </div>
        <div class="card_table">
            <ui-table-list #tableList [serviceApi]="'productos/listar/productos'" [serviceApiFilter]="'productos/filtrar/productos'" [columns]="config.columns"/>
        </div>
    </ui-card>
</div>



