<div class="div_container">
  <div class="div_card">

    <div class="panel_1">
      <div class="card_form">
        <form [formGroup]="formData" class="form">

          @if (!isAdd) {
            <div class="div_id">
              <ui-text-field
                [label]="'ID'"
                formControlName="idePerf"
              />
              <div class="input_falso"></div>
            </div>
          }

          <div class="form_info">
            <ui-combo-box
              [label]="'Rol'"
              [options]="opcionesRoles"
              formControlName="ideRol"
            />

            <ui-text-field
              [label]="'Nombre del Perfil'"
              formControlName="nombrePerf"
            />

            <ui-text-area
              [label]="'Descripción'"
              formControlName="descripcionPerf"
            />
          </div>

          <div class="form_buttons">
            <ui-button
              [label]="isAdd ? 'Guardar' : 'Actualizar'"
              (evntClick)="guardar()"
            />
            <ui-button
              [label]="'Cancelar'"
              [color]="'red'"
              (evntClick)="cancelar()"
            />
          </div>

        </form>
      </div>
    </div>

    <div class="panel_2">
      <div class="panel_2_img"></div>
    </div>

  </div>
</div>
