:host {
    width: 100%;
    height: 100%;
}

.div_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    .div_card {

        .card_top {
            display: flex;

            .card_form {
                width: 85%;

                .card_filters {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    padding: 10px;
                    width: 100%;
                    height: 75px;

                    .selects {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        width: auto;
                    }

                    .filter_btn {
                        flex: 1;
                    }
                }
            }

            .btns_options {
                flex: 1;
                display: flex;
                justify-content: center;
                gap: 12px;
            }
        }

        .card_table {
            width: 100%;
            height: auto;
            padding: 10px;
        }
    }
}