<div class="div_container">
  <div class="landing-layout">
    <header class="landing-header">
      <div class="landing-header__content">
        <span class="logo">SuperMarket</span>

        <nav class="landing-nav">
          <a routerLink="home">Inicio</a>
          <a routerLink="about">Acerca</a>
          <a routerLink="/auth/login">Ingresar</a>
        </nav>
      </div>
    </header>

    <main class="landing-main">
      <router-outlet></router-outlet>
    </main>

    <footer class="landing-footer">
      <p>📍 Supermarket Family - Quito, Ecuador</p>
      <p>📞 099 999 9999 | ✉ contacto&#64;supermarketfamily.com</p>
      <span>© 2026 Supermarket Family</span>
    </footer>

  </div>
</div>

