.div_container {
    display: flex;
    flex-direction: column;
    gap: 1px;

    .td_crud {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    .table_row {
        cursor: pointer;
    }
}

