:host {
    width: 100%;
    height: auto;
}

.div_container {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 100%;
    height: auto;

    .td_crud {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    .table_row {
        cursor: pointer;
    }
}

