<div class="div_container">
  <div class="div_card">
    <div class="panel_1">
      <div class="card_form">
        <form [formGroup]="formData" class="form" (ngSubmit)="guardar()">
          <div class="div_form">
            <div class="form_info">
              @if (!isAdd) {
                <div class="form_row">
                  <div class="form_div">
                    <ui-text-field
                      label="ID"
                      formControlName="ideCuen"
                      [readonly]="true"
                    />
                  </div>

                  <div class="form_div"></div>
                </div>
              }

              <div class="form_row">
                <div class="form_div form_div_1">
                  <ui-combo-box
                    label="Empleado"
                    [options]="empleados"
                    formControlName="ideEmpl"
                  />

                  <ui-text-field
                    label="Usuario"
                    formControlName="usuarioCuen"
                  />
                </div>

                <div class="form_div form_div_2">
                  <ui-combo-box
                    label="Perfil"
                    [options]="perfiles"
                    formControlName="idePerf"
                  />

                  @if (isAdd) {
                    <ui-text-field
                      label="Contraseña temporal"
                      valueType="password"
                      formControlName="passwordCuen"
                    />

                    <small class="password-help">
                      Debe contener mayúscula, minúscula, número y carácter
                      especial. El usuario deberá cambiarla al iniciar sesión.
                    </small>
                  }
                </div>

                <div class="form_div form_div_3">
                  <ui-combo-box
                    label="Estado"
                    [options]="estadosCuenta"
                    formControlName="estadoCuen"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="form_buttons">
            <ui-button
              [label]="isAdd ? 'Guardar' : 'Actualizar'"
              icon="save"
              color="green"
              (evntClick)="guardar()"
            />

            <ui-button
              label="Cancelar"
              icon="close"
              color="red"
              (evntClick)="cancelar()"
            />
          </div>
        </form>
      </div>
    </div>

    <div class="panel_2">
      <div class="panel_2_img"></div>
    </div>
  </div>
</div>
