:host {
    width: 100%;
    height: 100%;
}

.div_container {
    width: 100%;
    height: 100%;

    .div_card {
        width: 100%;
        height: 100%;
        display: flex;
        background-color: #FFFFFF;
        border-radius: 10px;

        .panel_1 {
            width: 60%;
            height: 100%;
            padding: 30px;

            .card_form {
                background-color: rgba(241, 245, 249);
                border-radius: 20px;
                width: 100%;
                padding: 50px;
                padding-top: 30px;

                .form {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    .div_form {
                        display: flex;
                        flex-direction: column;
                        gap: 40px;

                        .div_id {
                            display: flex;
                            width: 100%;
                            gap: 20px;
                            justify-content: center;

                            .input_falso {
                                width: 280px;
                            }
                        }

                        .form_info {
                            display: flex;
                            gap: 20px;
                            justify-content: center;

                            .form_div {
                                display: flex;
                                flex-direction: column;
                                gap: 25px;
                            }
                        }
                    }

                    .form_buttons {
                        display: flex;
                        gap: 10px;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
        .panel_2 {
            flex: 1;
            height: 100%;

            .panel_2_img {
                width: 100%;
                height: 100%;
                background-image: url('/imgs/img_cuentas.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
        
    }
}

.panel_2 {
  flex: 1;
}

.panel_2_img {
  width: 100%;
  height: 100%;
  background-image: url('/imgs/img_roles.jpg');
  background-size: cover;
}
