:host {
    width: 100%;
    height: 100%;
}

.div_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    .div_title {
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;

        .title {
            height: 100%;
            align-content: center;
        }
    }

    .div_button {
        flex: 1;
    }
}