.div_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    .div_title {
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .div_button {
        flex: 1;
    }
}