<div class="div_container">
    <ui-card [showHeader]="true" class="div_card">
        <div class="card_top" card-header>
            <form [formGroup]="formData" (ngSubmit)="filtrar()" class="card_form">
                <div class="card_filters">
                    <div class="selects">
                        <ui-combo-box [label]="'Producto'" [options]="opcionesProductos" formControlName="ideProd"/>
                        <ui-combo-box [label]="'Estado'" [options]="opcionesEstados" formControlName="estadoLote"/>
                    </div>
                    <div class="filter_btn">
                        <ui-button [label]="'Filtrar'" [icon]="'filter_alt'"/>
                    </div>
                </div>
            </form>
            <div class="btns_options">
                <ui-button [icon]="'refresh'" [action]="'refresh'" (evntClick)="refreshData($event)"/>
            </div>
        </div>
        <div class="card_table">
            <ui-table-list #tableList [serviceApi]="'lotes/listar/lotes'" [serviceApiFilter]="'lotes/filtrar/lotes'" [serviceApiReal]="'lotes'" [columns]="config.columns" [isSelection]="true"/>
        </div>
    </ui-card>
</div>




