<div class="sm-crud-list">
  <ui-card [showHeader]="true" class="sm-crud-card">
    <div class="sm-crud-toolbar" card-header>
      <form class="sm-crud-form" [formGroup]="formData" (ngSubmit)="filtrar()">
        <div class="sm-crud-filter-row">
          <div class="sm-crud-filters">
            <ui-text-field
              class="sm-field-md"
              [label]="'Num. factura'"
              formControlName="numFacturaVent"
            />

            <ui-combo-box
              class="sm-field-sm"
              [label]="'Estado'"
              [options]="opcionesEstado"
              formControlName="estadoVent"
            />

            <ui-datetime-picker
              class="sm-field-date"
              [label]="'Desde'"
              formControlName="fechaVentDesde"
            />

            <ui-datetime-picker
              class="sm-field-date"
              [label]="'Hasta'"
              formControlName="fechaVentHasta"
            />
          </div>

          <div class="sm-crud-filter-button">
            <ui-button
              [label]="'Filtrar'"
              [icon]="'filter_alt'"
              [action]="'filter'"
              (evntClick)="filtrar()"
            />
          </div>
        </div>
      </form>

      <div class="sm-crud-actions">
        <ui-button
          [icon]="'refresh'"
          [action]="'refresh'"
          (evntClick)="refreshData($event)"
        />
      </div>
    </div>

    <div class="sm-crud-table">
      <ui-table-list
        #tableList
        [serviceApi]="'ventas'"
        [serviceApiFilter]="'ventas/filtrar'"
        [serviceApiReal]="'ventas'"
        [columns]="config.columns"
        [isSelection]="true"
      />
    </div>
  </ui-card>
</div>
