@if (elem.hijas.length > 0) {
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>{{elem.icono}}</mat-icon>
            &nbsp;&nbsp;&nbsp;{{elem.titulo}}
          </mat-panel-title>
        </mat-expansion-panel-header>
    @for (child of elem.hijas; track $index) {
        @if(child.hijas.length > 0) {
            <ui-menu-item [item]="child"/>
        }
        @else {
            <a mat-list-item (click)="navigateToUrl(child.ruta)">
                <div class="div_item">
                    <mat-icon>{{child.icono}}</mat-icon>
                    &nbsp;&nbsp;&nbsp;{{ child.titulo }}
                </div>
            </a>
        }
    }
    </mat-expansion-panel>
}
@else {
    <a mat-list-item (click)="navigateToUrl(elem.ruta)">
        <div class="div_item">
            <mat-icon>{{elem.icono}}</mat-icon>
            &nbsp;&nbsp;&nbsp;{{ elem.titulo }}
        </div>
    </a>
}