:host {
  width: 100%;
  height: 100%;
}

.div_container {
  width: 100%;
  height: 100%;

  .div_card {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #fff;
    border-radius: 10px;

    .panel_1 {
      width: 60%;
      padding: 30px;

      .card_form {
        background-color: rgba(241, 245, 249);
        border-radius: 20px;
        padding: 40px;

        .form {
          display: flex;
          flex-direction: column;
          gap: 30px;

          .div_form {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .div_id {
              display: flex;
              gap: 20px;
              justify-content: center;

              .input_falso {
                width: 280px;
              }
            }

            .form_info {
              display: flex;
              gap: 25px;
              justify-content: center;

              .form_div {
                display: flex;
                flex-direction: column;
                gap: 20px;
              }
            }
          }

          .form_buttons {
            display: flex;
            gap: 10px;
            justify-content: center;
          }
        }
      }
    }

    .panel_2 {
      flex: 1;

      .panel_2_img {
        width: 100%;
        height: 100%;
        background-image: url('/imgs/img_marca.jpg');
        background-size: cover;
        background-position: center;
      }
    }
  }
}
