<div class="div_container">
  <div class="div_card">

    <div class="panel_1">
      <div class="card_header">
        <h2>Detalles del Producto</h2>
        <ui-button
          label="Volver"
          icon="arrow_back"
          (clicked)="goBack()">
        </ui-button>
      </div>

      @if (producto) {
        <div class="card_form">
          <div class="form">

            <div class="div_form">

              <div class="div_id">
                <ui-text-field label="ID" [value]="producto.ideProd.toString()" [disabled]="true" />
                <div class="input_falso"></div>
              </div>

              <div class="form_info">

                <div class="form_div">
                  <ui-text-field label="Categoría" [value]="categoriaNombre ?? producto.ideCate.toString()" [disabled]="true" />
                  <ui-text-field label="Marca" [value]="marcaNombre ?? producto.ideMarc.toString()" [disabled]="true" />
                  <ui-text-field label="Código de Barras" [value]="producto.codigoBarraProd" [disabled]="true" />
                  <ui-text-field label="Nombre" [value]="producto.nombreProd" [disabled]="true" />
                  <ui-text-field label="Precio Venta" [value]="producto.precioVentaProd.toString()" [disabled]="true" />
                </div>

                <div class="form_div">
                  <ui-text-field label="IVA" [value]="producto.ivaProd.toString()" [disabled]="true" />
                  <ui-text-field label="Descuento Promo" [value]="producto.dctoPromoProd.toString()" [disabled]="true" />
                  <ui-text-field label="Stock" [value]="producto.stockProd.toString()" [disabled]="true" />
                  <ui-text-field label="Disponible" [value]="producto.disponibleProd" [disabled]="true" />
                  <ui-text-field label="Estado" [value]="producto.estadoProd" [disabled]="true" />
                </div>

              </div>

              <ui-text-area label="Descripción" [value]="producto.descripcionProd" [disabled]="true" />

            </div>

          </div>
        </div>
      }
    </div>

    <div class="panel_2">
      @if (producto) {
        <div class="panel_2_img" [ngStyle]="{'background': 'url('+producto.urlImgProd+') center / cover no-repeat'}"></div>
      }
    </div>

  </div>
</div>
