:host {
  width: 100%;
  height: 100%;
}

.div_container {
  width: 100%;
  height: 100%;

  .div_card {
    display: flex;
    height: 100%;
    background: #fff;
    border-radius: 10px;

    .panel_1 {
      width: 60%;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .card_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        .header_right {
          display: flex;
          gap: 10px;
        }
      }

      .card_info {
        background-color: rgba(241, 245, 249);
        border-radius: 12px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .info_row {
          display: flex;
          gap: 15px;
          flex-wrap: wrap;
        }
      }
    }

    .panel_2 {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;

      .panel_2_img {
        width: 80%;
        height: 70%;
        border-radius: 12px;
        background-color: #f1f5f9;
      }
    }
  }
}
