:host {
  width: 100%;
  height: 100%;
}

.div_container {
  width: 100%;
  height: 100%;

  .div_card {
    display: flex;
    height: 100%;
    background: #fff;
    border-radius: 10px;

    .panel_1 {
      width: 60%;
      padding: 30px;

      .card_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h2 {
          margin: 0;
          font-size: 1.5rem;
          font-weight: 600;
          color: #1e293b;
        }
      }

      .card_form {
        background: rgba(241, 245, 249);
        border-radius: 20px;
        padding: 40px;

        .form {
          display: flex;
          flex-direction: column;
          gap: 25px;

          .div_form {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .div_id {
              display: flex;
              justify-content: center;
              gap: 20px;

              .input_falso {
                width: 280px;
              }
            }

            .form_info {
              display: flex;
              gap: 20px;

              .form_div {
                display: flex;
                flex-direction: column;
                gap: 20px;
              }
            }
          }
        }
      }
    }

    .panel_2 {
      flex: 1;
      display: flex;
      justify-content: center;

      .panel_2_img {
        margin-top: 70px;
        width: 50%;
        height: 50%;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
