<div class="div_container">
    <ui-card [showHeader]="true" class="div_card">
        <div class="card_top" card-header>
            <form [formGroup]="formData" (ngSubmit)="filtrar()" class="card_form">
                <div class="card_filters">
                    <div class="selects">
                        <ui-input-box [label]="'Usuario'" [options]="opcionesCuentas" [width]="'200'" formControlName="ideCuen"/>
                        <ui-input-box [label]="'Ip'" [options]="opcionesIps" [width]="'200'" [returnValue]="'label'" formControlName="ipAcce"/>
                        <ui-input-box [label]="'Navegador'" [options]="opcionesNavegadores" [width]="'200'" [returnValue]="'label'" formControlName="navegadorAcce"/>
                        <ui-datetime-picker [label]="'Desde'" formControlName="fechaAcceDesde"/>
                        <ui-datetime-picker [label]="'Hasta'" formControlName="fechaAcceHasta"/>
                    </div>
                    <div class="filter_btn">
                        <ui-button [label]="'Filtrar'" [icon]="'filter_alt'"/>
                    </div>
                </div>
            </form>
            <div class="btns_options">
                <ui-button [icon]="'refresh'" [action]="'refresh'" (evntClick)="refreshData($event)"/>
            </div>
        </div>
        <div class="card_table">
            <ui-table-list #tableList [serviceApi]="'accesos/listar/accesos'" [serviceApiFilter]="'accesos/filtrar/accesos'" [columns]="config.columns"/>
        </div>
    </ui-card>
</div>



