:host {
  width: 100%;
  height: 100%;
}

.div_container {
  width: 100%;
  height: 100%;

  .div_select {
    position: relative;
    width: 250px;
    font-family: sans-serif;
    z-index: 1;

    &.active {
      .options {
        display: block;
      }
    }

    input {
      width: 100%;
      padding: 14px 12px;
      font-size: 16px;
      border: 2px solid #ccc;
      border-radius: 10px;
      outline: none;
      background: white;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        border-color: #F527E7;
      }

      &:focus {
        border-color: #F527E7;
        box-shadow: 0 0 6px rgba(123, 75, 255, 0.4);
      }

      &:focus + label,
      &:not(:placeholder-shown) + label {
        top: -8px;
        font-size: 12px;
        color:#F527E7;
        background: none;
      }
    }

    label {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: #777;
      font-size: 16px;
      background: white;
      padding: 0 4px;
      pointer-events: none;
      transition: 0.25s ease;
    }

    .options {
      display: none;
      position: absolute;
      top: 110%;
      left: 0;
      width: 100%;
      background: white;
      border: 2px solid #ccc;
      border-radius: 10px;
      list-style: none;
      padding: 5px 0;
      margin: 0;
      max-height: 180px;
      overflow-y: auto;
      box-shadow: 0 6px 18px rgba(0,0,0,0.1);

      li {
        padding: 12px;
        cursor: pointer;
        transition: background .2s;

        &:hover {
          background: #f2f2ff;
        }
      }
    }
  }
}