:host {
  width: 100%;
  height: 100%;
}

.div_container {
  width: 100%;
  height: 100%;

  .div_select {
    position: relative;
    width: 250px;
    font-family: sans-serif;
    z-index: 1;

    &.active {
      .selected {
        border-color: #F527E7;
        box-shadow: 0 0 6px rgba(123, 75, 255, 0.4);
      }
      .options {
        //mostrarlas
        display: block;
      }
    }

    &.active,
    &[data-estado="true"] {
      .label_0 {
        top: -14px;
        font-size: 12px;
        color:#F527E7;
        background: none;
      }
    }

    .selected {
      padding: 14px 12px;
      border: 2px solid #ccc;
      border-radius: 10px;
      background: white;
      cursor: pointer;
      transition: border-color .3s, box-shadow .3s;

      &:hover {
        border-color: #F527E7;
      }

      .label_0 {
        position: absolute;
        z-index: -1;
        transition: 0.25s ease;
      }
    }

    .options {
      position: absolute;
      top: 110%;
      left: 0;
      width: 100%;
      background: white;
      border: 2px solid #ccc;
      border-radius: 10px;
      list-style: none;
      padding: 5px 0;
      margin: 0;
      display: none;
      max-height: 180px;
      overflow-y: auto;
      box-shadow: 0 6px 18px rgba(0,0,0,0.1);

      li {
        padding: 12px;
        cursor: pointer;
        transition: background .2s;

        &:hover {
          background: #f2f2ff;
        }
      }
    }
  }
}