:host {
  width: 100%;
  height: 100%;
}

.div_container {
  width: 100%;
  height: 100%;
}

.div_card {
  width: 100%;
  height: 100%;
  padding: 20px;

  .card_header {
    margin-bottom: 20px;
  }

  .card_body {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .info_block {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }
  }

  .card_footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}
