:host {
    width: 100%;
    height: 100%;
}

.div_container {
    width: 100%;
    height: 100%;

    .grid_container {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template: 
            "header  header" 8%
            "sidebar main"   auto /
            275px    auto
        ;
        transition: grid-template-columns 0.3s ease;

        &.sidebar-closed {
            grid-template:
                "header header" 8%
                "sidebar main" auto /
                0px auto
            ;
        }

        .header {
            padding: 10px;
            background-color: #0dff00;
            grid-area: header;
        }   

        .sidebar {
            padding: 10px;
            background-color: #FFFFFF;
            grid-area: sidebar;
        }
        .main {
            padding: 10px;
            background-color: #ececec   ;
            grid-area: main;
            /*Loading*/
            position: relative;
            /*min-height: 100%;*/
            /*overflow-x: auto;*/
        }
    }
}