.div_container {
    width: 100%;
    height: 100%;

    .grid_container {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template: 
            "header  header" 8%
            "sidebar main"   auto /
            275px    auto
        ;

        .header {
            padding: 10px;
            background-color: #0dff00;
            grid-area: header;
        }   

        .sidebar {
            padding: 10px;
            background-color: #FFFFFF;
            grid-area: sidebar;
        }

        .main {
            padding: 10px;
            background-color: #F1F5F9;
            grid-area: main;
        }
    }
}