@use './styles/styles-custom' as *;

* {
  box-sizing: border-box;
  position: static;
  margin: 0;
  padding: 0;
}

html { 
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  body {
    width: 100%;
    height: 100%;
    font-family: $font-family-base;
    font-size: $font-size-base;

    app-root, app-login, app-layout-admin, app-list, app-edit, app-details {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

