<div class="div_container">
  <div class="div_card">

    <div class="panel_1">
      <div class="card_form">
        <form [formGroup]="formData" class="form">

          <div class="div_form">

            @if (!isAdd) {
              <div class="div_id">
                <ui-text-field label="ID" formControlName="ideProd" />
                <div class="input_falso"></div>
              </div>
            }

            <div class="form_info">

              <div class="form_div">
                <ui-input-box label="Categoría" [options]="categorias" formControlName="ideCate"/>
                <ui-input-box label="Marca" [options]="marcas" formControlName="ideMarc" />
                <ui-text-field label="Código Barra" formControlName="codigoBarraProd" />
                <ui-text-field label="Nombre" formControlName="nombreProd" />
                <ui-text-field label="Precio Venta" [valueType]="'number'" formControlName="precioVentaProd" />
              </div>

              <div class="form_div">
                <ui-text-field label="IVA" [valueType]="'number'" formControlName="ivaProd" />
                <ui-text-field label="Descuento Promo" [valueType]="'number'" formControlName="dctoPromoProd" />
                <ui-text-field label="Stock" [valueType]="'number'" [disabled]="isAdd"  formControlName="stockProd" />
                <ui-combo-box label="Disponible" [options]="opcionesProdDisponibilidad" [disabled]="isAdd" formControlName="disponibleProd" />
                <ui-combo-box label="Estado" [options]="opcionesProdEstados" formControlName="estadoProd" />
              </div>

            </div>

            <ui-text-area label="Descripción" formControlName="descripcionProd" />
            <ui-text-field label="URL Imagen" formControlName="urlImgProd" />

          </div>

          <div class="form_buttons">
            <ui-button [label]="isAdd ? 'Guardar' : 'Actualizar'" (evntClick)="guardar()" />
            <ui-button label="Cancelar" color="red" (evntClick)="cancelar()" />
          </div>

        </form>
      </div>
    </div>

    <div class="panel_2">
      <div class="panel_2_img" [ngStyle]="{'background': 'url('+formData.value.urlImgProd+') center / cover no-repeat'}"></div>
    </div>

  </div>
</div>
