<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Iniciar sesión</h2>

    <label>Usuario</label>
    <input type="text" formControlName="usuario" />
    <div class="error" *ngIf="loginForm.get('usuario')?.invalid && loginForm.get('usuario')?.touched">
      Email inválido o requerido.
    </div>

    <label>Contraseña</label>
    <input type="password" formControlName="clave" />
    <div class="error" *ngIf="loginForm.get('clave')?.invalid && loginForm.get('clave')?.touched">
      Mínimo 6 caracteres.
    </div>

    <button type="submit">Entrar</button>
  </form>
</div>

