<div class="div_container">
    <div class="div_user">
        <div class="logo_user" [class.active]="open" (click)="toggle()">
            @if (genero === 'masculino') {
                <img src="icons/avatares/hombre.png" alt="User">
            } 
            @else if (genero === 'femenino') {
                <img src="icons/avatares/mujer.png" alt="User">
            }
        </div>
        @if(open){
            <ul class="options">
                <li (click)="miProfile()">Mi Cuenta</li>
                <li (click)="logout()">Cerrar Sesión</li>
            </ul>
        }
    </div>
</div>