<div class="div_container" clickOutside (clickOutside)="open = false">
  <div class="div_user">
    <button
      type="button"
      class="user_trigger"
      [class.active]="open"
      (click)="toggle()"
    >
      <div class="avatar">
        <span>{{ userInitials }}</span>
      </div>

      <div class="user_text">
        <span class="user_name">{{ userName }}</span>
        <span class="user_role">{{ userRole }}</span>
      </div>

      <mat-icon class="chevron">expand_more</mat-icon>
    </button>

    @if (open) {
      <ul class="options">
        <li class="user_summary">
          <span class="summary_name">{{ userName }}</span>
          <span class="summary_role">{{ userRole }}</span>
        </li>

        <li (click)="miProfile()">
          <mat-icon>account_circle</mat-icon>
          <span>Mi cuenta</span>
        </li>

        <li class="danger" (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar sesión</span>
        </li>
      </ul>
    }
  </div>
</div>
