:host {
    width: 100%;
    height: 100%;
}

.div_container {
    width: 100%;
    height: 100%;
    /*display: flex;
    justify-content: center;
    align-items: center;*/

    .div_user {
        position: relative;
        width: 100%;
        
        .logo_user {
            width: 60px;
            height: 60px;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
            }

            &.active {
                .options {
                    display: block;
                }
            }
        }

        .options {
            display: none;
            position: absolute;
            top: 110%;
            left: 0;
            width: 100%;
            background: white;
            border: 2px solid #ccc;
            border-radius: 10px;
            list-style: none;
            padding: 5px 0;
            margin: 0;
            max-height: 180px;
            overflow-y: auto;
            box-shadow: 0 6px 18px rgba(0,0,0,0.1);

            li {
                padding: 12px;
                cursor: pointer;
                transition: background .2s;

                &:hover {
                    background: #f2f2ff;
                }
            }
        }
    }
}