.div_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo_user{
        width: 60px;
        height: 60px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}